name: Pull Request
on:
  pull_request:
    branches:
      - main

jobs:
  linter:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Setup Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: "24.x"

      - name: Install Yarn
        run: npm install -g yarn

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Run Linter
        run: yarn run test:deploy

      - name: Run sonar scanner
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.AVS_PIPELINE_PAT }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
